{% extends "layout.html" %}

{% block title %}
Schedule
{% endblock %}

{% block content %}

<!-- Update Schedule form for schedule.JSON -->
<div class="container">
    <h2 class="scheudle-title">Update Schedule</h2>
    <form id="updateScheculeForm" action="/schedule" method="POST">
        <label>Start Time: </label>
        <select class="select-time" id="start_time" name="start_time">
            {% for time in times %}
            <option value={{time}}>{{time}}</option>
            {% endfor %}
        </select>

        <label>End Time: </label>
        <select class="select-time" id="end_time" name="end_time">
            {% for time in times %}
            <option value={{time}}>{{time}}</option>
            {% endfor %}
        </select>
        <div>
        <label>Setpoint Temp: </label>
            <input type="number" id="temperature_setpoint" name="temperature_setpoint" placeholder="Enter Temperature">
            <input type="submit" id="updateScheduleButton"> 
        </div> 
    </form>
</div>

<!-- List current schedule in two tables AM & PM -->
<div class="container">
<h1>Current Schedule</h1>
<div class="col-xs-6">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">Time</th>
                    <th class="col-md-2">Temperature</th>
                </tr>
            </thead>
            <tbody>
                {% for time, setpoint in schedule.items() %}
                <tr>
                    <td class="col-md-1">{{time}}</td>
                    <td class="col-md-2">{{setpoint}} F</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>


{% endblock %}